body {
    padding-top: 50px;
    line-height: 1.7em;
    color: #7f8c8d;
    font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #34495e;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

html {
    height: 100%;
}

body {
    height: calc(100% - 50px);
}

.container {
    height: 100%;
}

.content {
    padding: 0.3em;
}


@media (min-width: 48em) {

    /* We increase the body font size */
    body {
        font-size: 16px;
    }
    /* We want to give the content area some more padding */
    .content {
        padding: 1em;
    }

    .pure-u-1-3 {
        box-sizing: border-box;
        padding: 1em;
        min-width: 350px;
    }
}