.chat-collapsed {
	height: 100%;
}
.chat-uncollapsed {
	width: 400px;
	height: 100%;
}
.chat {
	display: absolute;
	height: 100%;
}
.chat-messages {
	clear: both;
	max-height: calc(100% - 140px);
	padding-left: 0;
	list-style-type: none;
	overflow-y: auto;
}
.chat-send {
	width: 400px;
	height: 90px;
	margin: 0;
	padding: 0;
}

.chat-message {
	word-wrap: break-word;
}
.chat-options {
	float: right;
	margin-right: 0.5em;
}