.full-height {
}

.flex-panel {
	border-left: 2px solid #000;
}

.chat-collapsed {
	height: 100%;
}

.chat-uncollapsed {
	width: 400px;
	 height: 100%; 	
	background-color: #f5f5fb;
}

.chat {
	display: absolute;
	height: 100%;
}

.chat-messages {
	clear: both;
	max-height: calc(100% - 90px);
	padding-left: 0;
	list-style-type: none;
	overflow-y: auto;
	color: #555;
	margin: 0;
}


.chat-send {
	width: 400px;
	height: 90px;
	margin: 0;
	padding: 0;
	position: fixed;
	bottom: 0;
}

.chat-message {
	word-wrap: break-word;
	margin-top: 4px;
}

.chat-options {
	float: right;
	margin-right: 20px;
	position: absolute;
	right: 0;
	margin-top: 20px;
}

.chat-message .userimage {
	float: left;
	margin-left: 4px;
}

.chat-message-body {
	display: inline-block;
	margin-left: 4px;
	width: 350px;
}
