.modal-backdrop {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.7;
}

.modal-body {
	position: absolute;
	z-index: 1001;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	padding: 10px;
	border-radius: 10px;
}

.modal-close {
	position: absolute;
	top: 5px;
	right: 5px;
	padding: 5px;
}



.backdrop {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #333;
}

.box {
	position: absolute;
	z-index: 101;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	padding: 10px;
	border-radius: 10px;

}
