.sprint-item {
	border: 1px solid black;
	background-color: #eee;
	width: 90%;
	margin-top: -1px;
	padding: 0.5em;
	box-sizing: border-box;
	cursor: pointer;
}
.sprint-item-close {
	float: right;
	cursor: pointer;
	z-index: 5;
}