.task-item {
	border: 1px solid black;
	background-color: #eee;
	width: 90%;
	margin-top: -1px
}

.task-item-priority {
	text-align: center;
	font-size: 2em;
	color: #555;
	line-height: 3em;
}

.task-item-delete {
	float: right;
	margin-right: 0.5em;
	cursor: pointer;
	z-index: 5;
}

//status
.task-item .not-started {
	background-color: #ffcccc;
}
.task-item .in-progress {
	background-color: #ccccff;
}
.task-item .completed {
	background-color: #ccffcc;
}
