.task-item {
	border: 1px solid black;
	background-color: #eee;
	margin-top: -1px;
}

.task-item-priority {
	text-align: center;
	font-size: 2em;
	color: #555;
	line-height: 3em;
	background-color: rgba(0,0,0,0.1)
}

.task-item-delete {
	float: right;
	margin-right: 0.5em;
	cursor: pointer;
	z-index: 5;
}

.task-item-body {
	padding: 4px;
	box-sizing: border-box;
}

.task-item-body p {
	margin: 0;
}

.task-item.task-in-sprint {
	border: 1px black dashed;
}

/*.task-item.task-in-sprint .task-item-body {
	background-color: rgba(0,0,0,0.05);
}
*/
div[drag] {
	cursor: move;
}

//status
.not-started {
	background-color: #ffcccc; /* #ffeecc; */
}
.in-progress {
	background-color: #ccccff; /* #ccccff; */
}
.completed {
	background-color: #ccffcc; /* #ccffcc; */
}

.not-started:hover {
	background-color: #ffbbbb; /* #ffeeaa; */
}
.in-progress:hover {
	background-color: #bbbbff; /* #bbbbff; */
}
.completed:hover {
	background-color: #bbffbb; /* #bbffbb; */
}
