.home-menu {

    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}

.home-menu.pure-menu-open {
    background: #000;
}

.pure-menu.pure-menu-open.pure-menu-fixed {
    border-bottom: none;
    z-index: 4;
}

.home-menu .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
}

.home-menu .pure-menu-selected a {
    color: white;
}

.home-menu a {
    color: #AAA;
}

.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    color: #FFF;
}

.home-menu #menu-button, .home-menu label[for="menu-button"] {
    display: none;
}

@media (max-width: 768px) {
    .home-menu>span {
        display: none;
    }

    .home-menu li {
        display: none;
    }

    .home-menu label[for="menu-button"] {
        display: inline-block;
        text-align: rigth;
        margin-right: 10px;
        color: #fff;
    }

    .home-menu #menu-button:checked + ul > li {
        display: block;
        width: 100%;
    }

}

@media (min-width: 48em) {

    .home-menu {
        text-align: left;
    }
    .home-menu ul {
        float: right;
    }

    .pure-menu-heading {
        background-image: url('../images/logosmall.png');
        text-indent: -9999px;
        width: 31px;
    }

}