<div class="full-height" ng-controller="ChatController">
	<div class="chat-options"><a ng-click="collapsed=!collapsed"><i class="fa fa-users"></i></a></div>
	<div class="chat-collapsed" ng-show="collapsed">
		&nbsp;
	</div>
	<div class="chat-uncollapsed" ng-hide="collapsed">
		<div class="chat">
			<ul class="chat-messages">
				<li class="chat-message" ng-repeat="message in messages"><img class="userimage" ng-src="http://www.gravatar.com/avatar/{{message.md5Hash}}"><b>{{message.username}}:</b> {{message.text}}</li>
			</ul>
			<form class="pure-form" ng-submit="sendMessage()">
				<!-- <div class="pure-control-group"> -->
					<input class="chat-send" type="text" ng-model="message.text">
					<!-- <button type="submit" class="pure-button pure-button-primary">Send</button> -->
				<!-- </div> -->
			</form>
		</div>
	</div>
</div>