<h1>Documents</h1>
<div class="pure-g-r">
    <div class="pure-u-2-3">
        <h2>Documents</h2>
        <ul class="list-toolbar">
            <li><a ng-click="showAddDocument=true"><i class="fa fa-plus"></i> Add</a></li>
        </ul>
        <table class="pure-table pure-table-horizontal pure-u-1-1 document-list">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Edit</th>
            </tr>
            <tr ng-repeat="(documentId, document) in documents">
                <td><a href="#/document/{{documentId}}">{{document.name}}</a></td>
                <td>{{document.description}}</td>
                <td class="button-group-inline"><a href="#/document/{{documentId}}"><button class="pure-button button-small pure-button-primary"><i class="fa fa-pencil"></i></button></a>
                <button class="pure-button button-small button-error" dialog-confirm dialog-message="Are you sure you want to delete this document?" on-confirm="deleteDocument(documentId)"><i class="fa fa-trash-o"></i></button></td>
            </tr>
        </table>
        <div modal show="showAddDocument">
            <h2>Create document</h2>
            <form role="form" name="createDocForm" class="pure-form pure-form-aligned" ng-submit="createDocument()">
                <fieldset>
                    <div class="pure-control-group">
                        <label for="name">Name</label>
                        <input required id="name" type="text" ng-model="document.name">
                    </div>
                    <div class="pure-control-group">
                        <label for="description">Description</label>
                        <input required id="description" type="text" ng-model="document.description">
                    </div>
                    <div class="pure-controls">
                        <button ng-disabled="createDocForm.$invalid" class="pure-button pure-button-primary" type="submit">Create</button>
                    </div>
                </fieldset>
            </form>            
        </div>
    </div>
    <div class="pure-u-1-3">
        <h2>Templates</h2>
        <p>List templates, add, remove, edit.</p>
    </div>
</div>
