<h1>{{idea.name}}</h1>
<p>{{idea.description}}</p>
{{idea.score}}<button class="pure-button" ng-click="voteUp()">up</button><button class="pure-button" ng-click="voteDown()">down</button>
<div class="pure-g-r">
	<div class="pure-u-1-2">
		<ul>
			<li ng-repeat="(commentId, comment) in comments">{{comment.text}} - 
			<button class="pure-button" ng-click="removeComment(commentId)">delete</button></li>
		</ul>
	</div>
	<div class="pure-u-1-2">
		<h2>Add comment</h2>
		<form role="form" class="pure-form pure-form-aligned" ng-submit="addComment()">
			<fieldset>
				<div class="pure-control-group">
					<label for="text">Text</label>
					<input id="text" type="text" ng-model="comment.text">
				</div>
				<div class="pure-controls">
					<button class="pure-button pure-button-primary" type="submit">Add</button>
				</div>
				{{comment}}
			</fieldset>
		</form>
		<div class="alert alert-danger" ng-show="err">
			{{err}}
		</div>
	</div>
</div>