<h1>Ideas</h1>
<div class="pure-g-r">
	<div class="pure-u-1-2">
		<ul>
			<li ng-repeat="(ideaId, idea) in ideas">
				<a href="#/idea/{{ideaId}}">{{idea.name + ' - ' + idea.description}}</a> - 
				<button class="pure-button" ng-click="deleteIdea(ideaId)">X</button>
			</li>
		</ul>
	</div>
	<div class="pure-u-1-2">
		<h2>Add idea</h2>
		<form role="form" class="pure-form pure-form-aligned" ng-submit="addIdea()">
			<fieldset>
				<div class="pure-control-group">
					<label for="name">Name</label>
					<input id="name" type="text" ng-model="idea.name">
				</div>
				<div class="pure-control-group">
					<label for="description">Description</label>
					<input id="description" type="text" ng-model="idea.description">
				</div>
				<div class="pure-controls">
					<button class="pure-button pure-button-primary" type="submit">Add</button>
				</div>
			</fieldset>
		</form>
		<div class="alert alert-danger" ng-show="err">
			{{err}}
		</div>
	</div>
</div>