<!-- wait for auth to resolve (avoid flashing login page before redirect -->
<div ng-cloak class="row">
    <div ng-show-auth="error,logout">
        <div class="login-backdrop">
            <div class="login">
                <h1>Login</h1>
                <form role="form" class="pure-form pure-form-aligned">
                    <fielset>
                            <div class="pure-control-group" ng-show="createMode">
                                <label for="username">Username</label>
                                <input id="username" type="text" ng-model="username" placeholder="Enter username" />
                            </div>
                            <div class="pure-control-group">
                                <label for="email">Email</label>
                                <input id="email" type="text" ng-model="email" placeholder="Enter email" />
                            </div>

                            <div class="pure-control-group">
                                <label for="password">Password</label>
                                <input id="password" ng-hide="showPass" type="password" ng-model="pass" />
                                <input id="password" ng-show="showPass" type="text" ng-model="pass" />
                            </div>

                            <div class="pure-control-group" ng-show="createMode">
                                <label for="confirm">Confirm password</label>
                                <input id="confirm" ng-hide="showPass" type="password" ng-model="confirm" />
                                <input id="confirm" ng-show="showPass" type="text" ng-model="confirm" />
                            </div>

                            <div class="pure-control-group">
                                <label for="showPass">Show password</label>
                                <input id="showPass" type="checkbox" ng-model="showPass">
                            </div>

                            <div class="pure-controls">
                            <button class="pure-button pure-button-primary" ng-click="loginPassword()" ng-hide="createMode">Log In</button>
                            <button class="pure-button" ng-click="createMode = true" ng-hide="createMode">Register</button>
                            <button class="pure-button button-success" ng-show="createMode" ng-click="createAccount()">Create Account</button>
                            <button class="pure-button button-warning" ng-show="createMode" ng-click="createMode = false">Cancel</button>
                            </div>
                    </fielset>
                </form>
                <br />
                <div ng-show="err" class="alert alert-danger"><strong>{{err}}</strong></div>
            </div>
        </div>
    </div>
</div>