<div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed" ng-controller="NavigationController">
    <a class="pure-menu-heading" href="">Projise</a>
    <span ng-mouseenter="showDetails=true" ng-mouseleave="showDetails=false" ng-model="project.name">{{project.name}}</span>
        <div class="project-details-drop" ng-show="showDetails">
            <h2>{{project.name}}</h2>
            <p><b>Description:</b> {{project.description}}</p>
            <p><b>Sprint:</b> {{sprint.name + ' (' + sprint.start + ' - ' + sprint.end + ')'}}</p>
            <p><b>Sprint goal:</b> {{sprint.goal}}</p>
        </div>
    <label for="menu-button">&#9776; Menu</label>
    <input id="menu-button" type="checkbox">
    <ul>
        <li><a link-active href="#/">Overview</a></li>
        <li><a link-active href="#/project">Plan Project</a></li>
        <li><a link-active href="#/sprint">Plan Sprint</a></li>
        <li><a link-active href="#/task">My Task</a></li>
        <li><a link-active href="#/document">Documents</a></li>
        <li><a link-active href="#/profile"><img class="userimage" ng-src="http://www.gravatar.com/avatar/{{user.md5Hash}}" > {{user.username}}</a></li>
        <li ng-cloak ng-show-auth="login" ng-controller="LoginController"><a href="#" ng-click="logout()">Log Out</a></li>
    </ul>
</div>
