<div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed" ng-controller="NavigationController">
    <a class="pure-menu-heading" href="">Proji</a>
    <span ng-click="update()" ng-model="project.name">{{project.name}}</span>
    <ul>
        <li class="pure-menu-selected"><a href="#">Overview</a></li>
        <li><a href="#/project">Project</a></li>
        <li><a href="#/sprint">Sprint</a></li>
        <li><a href="#/task">Task</a></li>
        <li><a href="#/document">Document</a></li>
        <li><a ng-href="#/profile"><img class="userimage" ng-src="http://www.gravatar.com/avatar/{{user.md5Hash}}" > {{user.username}}</a></li>
        <li ng-cloak ng-show-auth="login" ng-controller="LoginController"><a href="#" ng-click="logout()">Log Out</a></li>
    </ul>
</div>
