<h1>Overview</h1>
<div class="pure-g-r">
	<div class="pure-u-1-3">
		<div>

			<h2>Tasks</h2>
				<ul class="list-toolbar">
					<li><a ng-click="showAddTask = true"><i class="fa fa-plus"></i> Add</a></li>
				</ul>
		        <div modal show="showAddTask">
		            <h2>Create task</h2>
		            <form role="form" name="taskForm" class="pure-form pure-form-aligned" ng-submit="createTask()">
		                <fieldset>
		                    <div class="pure-control-group">
		                        <label for="name">Name</label>
		                        <input id="name" required type="text" ng-model="newTask.name">
		                    </div>
		                    <div class="pure-control-group">
		                        <label for="description">Description</label>
		                        <input id="description" required type="text" ng-model="newTask.description">
		                    </div>
		                    <div class="pure-control-group">
		                        <label for="tags">Tags</label>
		                        <input id="tags" type="text" ng-model="newTask.tags">
		                    </div>
		                    <div class="pure-control-group">
		                        <label for="points">Points</label>
		                        <input id="points" type="range" min="0" max="100" value="4" ng-model="newTask.points">
		                    </div>
		                    <div class="pure-control-group">
		                        <label for="points">Priority</label>
		                        <input id="points" type="range" min="0" max="100" value="4" ng-model="newTask.priority">
		                    </div>
		                    <div class="pure-controls">
		                        <button ng-disabled="taskForm.$invalid" class="pure-button pure-button-primary" type="submit">Create</button>
		                    </div>
		                </fieldset>
		            </form>
		        </div>
				<div task-item ng-model="task" ng-repeat="task in tasks | toArray | orderBy: 'priority':true | filter: 'Not Started' | limitTo: 5"></div>
		</div>
	</div>
	<div class="pure-u-1-3 ideas">


		<h2>Ideas</h2>
		<ul class="list-toolbar">
			<li><a ng-click="showAddIdea = true"><i class="fa fa-plus"></i> Add</a></li>
		</ul>
		<div modal show="showAddIdea">
			<div class="pure-u-1-2">
				<h2>Add idea</h2>
				<form role="form" name="ideaForm" class="pure-form pure-form-aligned" ng-submit="addIdea()">
					<fieldset>
						<div class="pure-control-group">
							<label for="name">Name</label>
							<input id="name" required type="text" ng-model="newIdea.name">
						</div>
						<div class="pure-control-group">
							<label for="description">Description</label>
							<input id="description" required type="text" ng-model="newIdea.description">
						</div>
						<div class="pure-controls">
							<button ng-disabled="ideaForm.$invalid" class="pure-button pure-button-primary" type="submit">Add</button>
						</div>
					</fieldset>
				</form>
				<div class="alert alert-danger" ng-show="err">
					{{err}}
				</div>
			</div>
		</div>
		<!-- show=!show won't work with comments on more than one idea.. -->
		<div ng-repeat="idea in ideas | toArray | orderBy:'score':true">
			<div class="idea-item pure-g" >
				<div class="pure-u-1-6 idea-item-score">{{idea.score}}</div>
				<div class="pure-u-3-4 idea-item-body" ng-click="show=!show">
					<p><b>{{idea.name}}</b> - {{idea.description}}</p>	            			
				</div>
				<div class="pure-u-1-12 idea-item-voting">
					<a class="idea-item-voting-up" ng-click="voteUp(idea.Id)">▲</a><br>
					<a class="idea-item-voting-down" ng-click="voteDown(idea.Id)">▼</a>
				</div>
			</div>
			<div class="comment-item" ng-repeat="comment in idea.comments" ng-show="show">
				<p>{{comment.text}}</p>
			</div>
		</div>
	</div>
	<div class="pure-u-1-3">
		<h2>Events</h2>
		<ul class="list-toolbar">
			<li><a><i class="fa fa-plus"></i> Add</a></li>
		</ul>
		<!-- not implemented, make an example -->
		<div class="event-item">
			<p><b>Today, 09:00-09:15 - Sprint Meeting</b><br>
			During this meeting we will discuss stuff.</p>
		</div>
	</div>
</div>
