<h1>Product Backlog</h1>
<div class="pure-g-r">
	<div class="pure-u-1-2">
		<h2>Tasks</h2>
		<ul>
			<li ng-repeat="(taskId, task) in tasks">
				<span contenteditable ng-model="task.name"></span> - 
				<span contenteditable ng-model="task.description"></span> - 
				<button class="pure-button" ng-click="updateTask(taskId, task)">Update</button>
				<button class="pure-button" ng-click="deleteTask(taskId)">X</button>
			</li>
		</ul>
	</div>
	<div class="pure-u-1-2">
		<h2>Create task</h2>
		<form role="form" class="pure-form pure-form-aligned" ng-submit="createTask()">
			<fieldset>
				<div class="pure-control-group">
					<label for="name">Name</label>
					<input id="name" type="text" ng-model="task.name">
				</div>
				<div class="pure-control-group">
					<label for="description">Description</label>
					<input id="description" type="text" ng-model="task.description">
				</div>
				<div class="pure-controls">
					<button class="pure-button pure-button-primary" type="submit">Create</button>
				</div>
			</fieldset>
		</form>
		<div class="alert alert-danger" ng-show="err">
			{{err}}
		</div>
	</div>
</div>