<h1>Project</h1>
<div class="pure-g-r">
	<div class="pure-u-1-3">
		<div class="editProject" ng-hide="createProject">
			<h2 contenteditable ng-model="project.name"></h2>
			<p contenteditable ng-model="project.description"></p>
			<button class="pure-button pure-button-primary" ng-click="updateProject()">Save changes</button>
			<button class="pure-button" ng-click="createProject=true">Create project</button>
		</div>
		<div class="createProject" ng-show="createProject">
			<h2>Create project</h2>
			<form role="form" class="pure-form pure-form-aligned" ng-submit="makeProject()">
				<fieldset>
					<div class="pure-control-group">
						<label for="name">Name</label>
						<input id="name" type="text" ng-model="newProject.name">
					</div>
					<div class="pure-control-group">
						<label for="description">Description</label>
						<input id="description" type="text" ng-model="newProject.description">
					</div>
					<div class="pure-controls">
						<button class="pure-button pure-button-primary" type="submit">Create</button>
						<button class="pure-button" ng-click="createProject=false">Cancel</button>
					</div>
				</fieldset>
			</form>

			<br />
			<div class="alert alert-danger" ng-show="err">
				{{err}}
			</div>
		</div>
		<div>
			<h2>My projects</h2>
			<ul>
				<li ng-repeat="project in projects"><a href="#/project/{{project.$id}}">{{project.name}} - {{project.description}}</a> - <button class="pure-button pure-button-primary" ng-show="currentUser.pid !== project.$id" ng-click="setCurrentProject(project.$id)">Activate</button> - <button class="pure-button button-warning" ng-show="currentUser.pid !== project.$id" ng-click="deleteProject(project.$id)">X</button></li>
			</ul>
		</div>
		<div>
			<h2>Users</h2>
			<ul>
				<li ng-repeat="(userId, user) in users"><span>{{user}}</span> - <button class="pure-button button-warning" ng-click="removeUser(userId)">Remove</button></li>
			</ul>
			<div class="pure-control-group">
				<form name="inviteUserForm" ng-submit="inviteUser()">
					<label for="addUser">Add user</label>
					<input required id="addUser" type="email" ng-model="addUser.email" placeholder="email" />
					<button id="inviteUser" ng-disabled="!inviteUserForm.$valid" type="submit" class="pure-button pure-button-primary">Invite</button>
				</form>
			</div>
		</div>
	</div>
	<div class="pure-u-1-3">
		<h2>Sprints</h2>
		<p>Shows a list of sprints, clicking one should replace create sprint with edit sprint. It should also be possible to delete sprints here. ng-click->function(sprintId)->update $scope editmodel, change editsprint to true</p>
		<div class="sprint-item" ng-repeat="(sprintId, sprint) in sprints">
				<span class="sprint-item-close"><a ng-click="deleteSprint(sprintId)">X</a></span>
			<div >

				<p ng-click="editSprint(sprintId)"><b>{{sprint.name}}</b> <span>({{sprint.start}} - {{sprint.end}})</span> <br />
				<b>Goal:</b> <span>{{sprint.goal}}</span></p>
			</div>
		</div>
	</div>
	<div class="pure-u-1-3">
		<div class="createSprint" ng-hide="viewEditSprint">
			<h2>Create sprint</h2>
			<p>Display form for creating a sprint.</p>
			<form role="form" class="pure-form pure-form-aligned" ng-submit="createSprint()">
				<fieldset>
					<div class="pure-control-group">
						<label for="name">Name</label>
						<input id="name" type="text" ng-model="newSprint.name">
					</div>
					<div class="pure-control-group">
						<label for="description">Goal</label>
						<input id="description" type="text" ng-model="newSprint.goal">
					</div>
					<div class="pure-control-group">
						<label for="start">Start</label>
						<input id="start" type="date" ng-model="newSprint.start">
					</div>
					<div class="pure-control-group">
						<label for="end">End</label>
						<input id="end" type="date" ng-model="newSprint.end">
					</div>
					<div class="pure-controls">
						<button class="pure-button pure-button-primary" type="submit">Create</button>
					</div>
				</fieldset>
			</form>
		</div>
		<div class="editSprint" ng-show="viewEditSprint">
			<h2>Edit sprint</h2>
						<form role="form" class="pure-form pure-form-aligned" ng-submit="updateSprint()">
				<fieldset>
					<div class="pure-control-group">
						<label for="name">Name</label>
						<input id="name" type="text" ng-model="sprint.name">
					</div>
					<div class="pure-control-group">
						<label for="description">Goal</label>
						<input id="description" type="text" ng-model="sprint.goal">
					</div>
					<div class="pure-control-group">
						<label for="start">Start</label>
						<input id="start" type="date" ng-model="sprint.start">
					</div>
					<div class="pure-control-group">
						<label for="end">End</label>
						<input id="end" type="date" ng-model="sprint.end">
					</div>
					<div class="pure-controls">
						<button class="pure-button pure-button-primary" type="submit">Update</button>
						<button class="pure-button" ng-click="hideEditSprint()">Cancel</button>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>