<h1>Project</h1>
<div class="pure-g-r">
	<div class="pure-u-1-3">
		<h2>Sprints</h2>
        <ul class="list-toolbar">
            <li><a ng-click="showAddSprint=true"><i class="fa fa-plus"></i> Add</a></li>
        </ul>
		<div class="sprint-item" ng-repeat="(sprintId, sprint) in sprints">
			<span class="sprint-item-close"><button class="pure-button button-secondary button-small" ng-click="editSprint(sprintId)"><i class="fa fa-cog"></i></button>
            <button class="pure-button button-error button-small" dialog-confirm dialog-message="Removing this sprint will make all it's data unavailable, are you sure this is what you want to do?" on-confirm="deleteSprint(sprintId)"><i class="fa fa-trash-o"></i></button></span>
			<div>
				<p><b>{{sprint.name}}</b> <span>({{sprint.start}} - {{sprint.end}})</span> <br />
				<b>Goal:</b> <span>{{sprint.goal}}</span></p>
			</div>
		</div>
        <div modal show="showAddSprint">
            <h2>Create sprint</h2>
            <form role="form" name="addSprintForm" class="pure-form pure-form-aligned" ng-submit="createSprint()">
                <fieldset>
                    <div class="pure-control-group">
                        <label for="name">Name</label>
                        <input required id="name" type="text" ng-model="newSprint.name">
                    </div>
                    <div class="pure-control-group">
                        <label for="description">Goal</label>
                        <input required id="description" type="text" ng-model="newSprint.goal">
                    </div>
                    <div class="pure-control-group">
                        <label for="start">Start</label>
                        <input required id="start" type="date" ng-model="newSprint.start">
                    </div>
                    <div class="pure-control-group">
                        <label for="end">End</label>
                        <input required id="end" type="date" ng-model="newSprint.end">
                    </div>
                    <div class="pure-controls">
                        <button ng-disabled="addSprintForm.$invalid" class="pure-button pure-button-primary" type="submit">Create</button>
                    </div>
                </fieldset>
            </form>
        </div>
        <div modal show="showEditSprint">
            <h2>Edit sprint</h2>
            <form role="form" name="editSprintForm" class="pure-form pure-form-aligned" ng-submit="updateSprint()">
                <fieldset>
                    <div class="pure-control-group">
                        <label for="name">Name</label>
                        <input required id="name" type="text" ng-model="editedSprint.name">
                    </div>
                    <div class="pure-control-group">
                        <label for="description">Goal</label>
                        <input required id="description" type="text" ng-model="editedSprint.goal">
                    </div>
                    <div class="pure-control-group">
                        <label for="start">Start</label>
                        <input required id="start" type="date" ng-model="editedSprint.start">
                    </div>
                    <div class="pure-control-group">
                        <label for="end">End</label>
                        <input required id="end" type="date" ng-model="editedSprint.end">
                    </div>
                    <div class="pure-controls">
                        <button ng-disabled="editSprintForm.$invalid" class="pure-button pure-button-primary" type="submit">Update</button>
                    </div>
                </fieldset>
            </form>
        </div>
	</div>
    <div class="pure-u-1-3">
        <h2>Users</h2>
        <ul class="list-toolbar">
            <li><a ng-click="showAddUser=true"><i class="fa fa-plus"></i> Add</a></li>
        </ul>
        <div modal show="showAddUser">
            <div class="pure-control-group">
                <form name="inviteUserForm" ng-submit="inviteUser()">
                    <label for="addUser">Add user</label>
                    <input required id="addUser" type="email" ng-model="addUser.email" placeholder="email" />
                    <button id="inviteUser" ng-disabled="inviteUserForm.$invalid" type="submit" class="pure-button pure-button-primary">Invite</button>
                </form>
            </div>
        </div>
        <table class="pure-table pure-table-horizontal user-list">
            <tr ng-repeat="(userId, user) in users">
                <td>{{user}}</td>
                <!-- <td><button class="pure-button button-error button-small" ng-click="removeUser(userId)"><i class="fa fa-trash-o"></i></button></td> -->
                <td><button class="pure-button button-error button-small" dialog-confirm on-confirm="removeUser(userId)" dialog-message="Are you sure you want to remove this user from the project?"><i class="fa fa-trash-o"></i></button></td>
            </tr>
        </table>
    </div>
    <div class="pure-u-1-3">
        <h2>My projects</h2>
        <ul class="list-toolbar">
            <li><a ng-click="showAddProject=true"><i class="fa fa-plus"></i> Add</a></li>
        </ul>
        <table class="pure-table pure-table-horizontal">
            <tr ng-repeat="project in projects">
                <td><b>{{project.name}}: </b>{{project.description}}</td>
                <td class="button-group-inline"><button class="pure-button button-success button-small" ng-show="currentUser.pid !== project.$id" ng-click="setCurrentProject(project.$id)"><i class="fa fa-check"></i></button>
                <button class="pure-button button-secondary button-small" ng-show="currentUser.pid !== project.$id" ng-click="editProject(project.$id)"><i class="fa fa-cog"></i></button>
                <button class="pure-button button-small button-error" ng-show="currentUser.pid !== project.$id" dialog-confirm dialog-message="Are you sure you want to delete this project and all it's data?" on-confirm="deleteProject(project.$id)"><i class="fa fa-trash-o"></i></button></td>
            </tr>
        </table>
        <div modal show="showAddProject">
            <h2>Create project</h2>
            <form role="form" name="createProjectForm" class="pure-form pure-form-aligned" ng-submit="makeProject()">
                <fieldset>
                    <div class="pure-control-group">
                        <label for="name">Name</label>
                        <input required id="name" type="text" ng-model="newProject.name">
                    </div>
                    <div class="pure-control-group">
                        <label for="description">Description</label>
                        <input required id="description" type="text" ng-model="newProject.description">
                    </div>
                    <div class="pure-controls">
                        <button ng-disabled="createProjectForm.$invalid" class="pure-button pure-button-primary" type="submit">Create</button>
                    </div>
                </fieldset>
            </form>

            <br />
            <div class="alert alert-danger" ng-show="err">
                {{err}}
            </div>
        </div>
        <div modal show="showEditProject">
            <h2>Edit project</h2>
            <form role="form" name="editProjectForm" class="pure-form pure-form-aligned" ng-submit="updateProject()">
                <fieldset>
                    <div class="pure-control-group">
                        <label for="name">Name</label>
                        <input required id="name" type="text" ng-model="editedProject.name">
                    </div>
                    <div class="pure-control-group">
                        <label for="description">Description</label>
                        <input required id="description" type="text" ng-model="editedProject.description">
                    </div>
                    <div class="pure-controls">
                        <button ng-disabled="editProjectForm.$invalid" class="pure-button pure-button-primary" type="submit">Update</button>
                    </div>
                </fieldset>
            </form>

            <br />
            <div class="alert alert-danger" ng-show="err">
                {{err}}
            </div>
        </div>
    </div>
</div>
