<h1 contenteditable ng-model="project.name"></h1>
<p contenteditable ng-model="project.description"></p>
<button class="pure-button" ng-click="updateProject()">Update</button>

<div class="pure-g-r">
	<div class="pure-u-1-2">
		<h2>Sprints</h2>
		<ul>

			<li ng-repeat="(sprintId, sprint) in sprints">
				<span contenteditable ng-model="sprint.name"></span> - 
				<span contenteditable ng-model="sprint.goal"></span> - 
				<span contenteditable ng-model="sprint.start"></span> - 
				<span contenteditable ng-model="sprint.end"></span> - 
				<button class="pure-button" ng-click="updateSprint(sprintId, sprint)">Update</button> -  
				<button class="pure-button" ng-click="deleteSprint(sprintId)">X</button>
			</li>
		</ul>

		<h2>Users</h2>
		<ul>
			<li ng-repeat="(userId, user) in users">{{user}} - <button class="pure-button pure-button-warning" ng-click="removeUser(userId)">Remove</button></li>
		</ul>
		<p>{{users}}</p>
		<div class="pure-control-group">
			<label for="addUser">Add user</label>
			<input id="addUser" type="text" ng-model="addUser.userId" placeholder="UserId" />
			<button class="pure-button pure-button-primary" ng-click="inviteUser()">Invite</button>
		</div>
		{{addUser}}
	</div>
	<div class="pure-u-1-2">
		<h2>Create sprint</h2>
		<form role="form" class="pure-form pure-form-aligned" ng-submit="createSprint()">
			<fieldset>
				<div class="pure-control-group">
					<label for="name">Name</label>
					<input id="name" type="text" ng-model="sprint.name">
				</div>
				<div class="pure-control-group">
					<label for="description">Goal</label>
					<input id="description" type="text" ng-model="sprint.goal">
				</div>
				<div class="pure-control-group">
					<label for="start">Start</label>
					<input id="start" type="date" ng-model="sprint.start">
				</div>
				<div class="pure-control-group">
					<label for="end">End</label>
					<input id="end" type="date" ng-model="sprint.end">
				</div>
				<div class="pure-controls">
					<button class="pure-button pure-button-primary" type="submit">Create</button>
				</div>
			</fieldset>
		</form>
		<br />
		<input type="text" ng-model="project.name">
		<input type="text" ng-model="project.description">
		{{project}}
		{{sprint}}
		<div class="alert alert-danger" ng-show="err">
			{{err}}
		</div>
	</div>
</div>