<h1>Sprint</h1>
<div class="pure-g-r">
	<div drop drop-type="sb" on-drop="fromSprintBacklog($itemId, $item)" class="pure-u-1-3 productbacklog">
        <h2>Product backlog</h2>
        <p>Iterate through items in product backlog.</p>
        <div ng-repeat="(pbTaskId, pbTask) in pbTasks">
            <div task-item ng-model="pbTask" drag drag-data="{{pbTask}}" drag-type="pb" drag-id="{{pbTaskId}}" >
                <a ng-click="showEditTask(pbTaskId, pbTask)"><i class="fa fa-cog"></i></a>
                <a ng-click="deleteTask(pbTaskId)"><i class="fa fa-times"></i></a>
            </div>
        </div>
	</div>
	<div drop drop-type="pb" on-drop="toSprintBacklog($itemId, $item)" class="pure-u-1-3 sprintbacklog">
        <input type="range" name="points" min="1" max="10" value="1">
        <h2>Sprint backlog</h2>
        <p>Iterate through items in sprint backlog.</p>
        <div ng-repeat="(sbTaskId, sbTask) in sbTasks">
            <div task-item ng-model="sbTask" drag drag-data="{{sbTask}}" drag-type="sb" drag-id="{{sbTaskId}}"></div>
        </div>
	</div>
	<div class="pure-u-1-3">
        <div ng-hide="viewEditTask">
            <h2>Create task</h2>
            <form role="form" class="pure-form pure-form-aligned" ng-submit="createTask()">
                <fieldset>
                    <div class="pure-control-group">
                        <label for="name">Name</label>
                        <input id="name" type="text" ng-model="newTask.name">
                    </div>
                    <div class="pure-control-group">
                        <label for="description">Description</label>
                        <input id="description" type="text" ng-model="newTask.description">
                    </div>
                    <div class="pure-controls">
                        <button class="pure-button pure-button-primary" type="submit">Create</button>
                    </div>
                </fieldset>
            </form>
        </div>
        <div ng-show="viewEditTask">
            <h2>Edit task</h2>
                        <form role="form" class="pure-form pure-form-aligned" ng-submit="updateTask()">
                <fieldset>
                    <div class="pure-control-group">
                        <label for="name">Name</label>
                        <input id="name" type="text" ng-model="task.name">
                    </div>
                    <div class="pure-control-group">
                        <label for="description">Description</label>
                        <input id="description" type="text" ng-model="task.description">
                    </div>
                    <div class="pure-controls">
                        <button class="pure-button pure-button-primary" type="submit">Update</button>
                        <button class="pure-button" ng-click="cancelEditTask()">Cancel</button>
                    </div>
                </fieldset>
            </form>
        </div>
	</div>
</div>