<h1>Plan Sprint</h1>
<div class="pure-g-r">
	<div drop drop-type="sb" on-drop="fromSprintBacklog($itemId, $item)" class="pure-u-1-3 productbacklog">
        <h2>Product backlog</h2>
        <p>Filter: <input type="text" ng-model="pbFilter">
            <button class="pure-button completed" ng-click="pbStatus='Completed'">
                <i class="fa fa-check"></i>
            </button>
            <button class="pure-button in-progress" ng-click="pbStatus='In Progress'">
                <i class="fa fa-cogs"></i>
            </button>
            <button class="pure-button not-started" ng-click="pbStatus='Not Started'">
                <i class="fa fa-ban"></i>
            </button>
            <button class="pure-button status-all" ng-click="pbStatus=''">
                <i class="fa fa-asterisk"></i>
            </button>
             - Points: {{pbPoints}}
        </p>
        <div ng-repeat="(pbTaskId, pbTask) in pbTasks | toArray | orderBy: 'priority':true | filter: pbFilter | filter: pbStatus">
            <div task-item ng-model="pbTask" drag drag-data="{{pbTask}}" drag-type="pb" drag-id="{{pbTask.Id}}" >
                <a ng-click="showEditTask(pbTask.Id, pbTask)"><i class="fa fa-cog"></i></a>
                <a dialog-confirm dialog-message="Are you sure you want to remove this task?" on-confirm="deleteTask(pbTask.Id)"><i class="fa fa-times"></i></a>
            </div>
        </div>
	</div>
	<div drop drop-type="pb" on-drop="toSprintBacklog($itemId, $item)" class="pure-u-1-3 sprintbacklog">
        <h2>Sprint backlog</h2>
        <p>Filter: <input type="text" ng-model="sbFilter">
            <button class="pure-button completed" ng-click="sbStatus='Completed'">
                <i class="fa fa-check"></i>
            </button>
            <button class="pure-button in-progress" ng-click="sbStatus='In Progress'">
                <i class="fa fa-cogs"></i>
            </button>
            <button class="pure-button not-started" ng-click="sbStatus='Not Started'">
                <i class="fa fa-ban"></i>
            </button>
            <button class="pure-button status-all" ng-click="sbStatus=''">
                <i class="fa fa-asterisk"></i>
            </button>
             - Points: {{sbPoints}}
        </p>
        <div ng-repeat="(sbTaskId, sbTask) in sbTasks | toArray | orderBy: 'priority':true | filter: sbFilter | filter: sbStatus">
            <div task-item ng-model="sbTask" drag drag-data="{{sbTask}}" drag-type="sb" drag-id="{{sbTask.Id}}"></div>
        </div>
	</div>
	<div class="pure-u-1-3">
        <div ng-hide="viewEditTask">
            <h2>Create task</h2>
            <p>Put another task in product backlog.</p>
            <form role="form" name="createTaskForm" class="pure-form pure-form-aligned" ng-submit="createTask()">
                <fieldset>
                    <div class="pure-control-group">
                        <label for="name">Name</label>
                        <input required id="name" type="text" ng-model="newTask.name">
                    </div>
                    <div class="pure-control-group">
                        <label for="description">Description</label>
                        <textarea required id="description" type="text" ng-model="newTask.description"></textarea>
                    </div>
                    <div class="pure-control-group">
                        <label for="tags">Tags</label>
                        <input id="tags" type="text" ng-model="newTask.tags">
                    </div>
                    <div class="pure-control-group">
                        <label for="points">Points</label>
                        <input id="points" type="range" min="1" max="100" value="4" ng-model="newTask.points">
                    </div>
                    <div class="pure-control-group">
                        <label for="points">Priority</label>
                        <input id="points" type="range" min="1" max="100" value="4" ng-model="newTask.priority">
                    </div>
                    <div class="pure-controls">
                        <button ng-disabled="createTaskForm.$invalid" class="pure-button pure-button-primary" type="submit">Create</button>
                    </div>
                </fieldset>
            </form>
        </div>
        <div ng-show="viewEditTask">
            <h2>Edit task</h2>
            <p>Values for points/priority are intentionally left out.</p>
            <form role="form" name="editTaskForm" class="pure-form pure-form-aligned" ng-submit="updateTask()">
                <fieldset>
                    <div class="pure-control-group">
                        <label for="name">Name</label>
                        <input required id="name" type="text" ng-model="editedTask.name">
                    </div>
                    <div class="pure-control-group">
                        <label for="description">Description</label>
                        <textarea required id="description" type="text" ng-model="editedTask.description"></textarea>
                    </div>
                    <div class="pure-control-group">
                        <label for="tags">Tags</label>
                        <input id="tags" type="text" ng-model="editedTask.tags">
                    </div>
                    <div class="pure-control-group">
                        <label for="points">Points</label>
                        <input id="points" type="range" min="1" max="100" value="4" ng-model="editedTask.points">
                    </div>
                    <div class="pure-control-group">
                        <label for="points">Priority</label>
                        <input id="points" type="range" min="1" max="100" value="4" ng-model="editedTask.priority">
                    </div>

                    <div class="pure-controls">
                        <button ng-disabled="editTaskForm.$invalid" class="pure-button pure-button-primary" type="submit">Update</button>
                        <button class="pure-button" ng-click="cancelEditTask()">Cancel</button>
                    </div>
                </fieldset>
            </form>
        </div>
	</div>
</div>