<h1>My Task</h1>
<div class="pure-g-r">
	<div class="pure-u-1-3" drop drop-type='current' on-drop="stopWorkOnTask()">
        <h2>Available tasks</h2>
        <p>Filter: <input type="text" ng-model="taskFilter">
            <button tool-tip="Show completed tasks" class="pure-button completed" ng-click="sbStatus='Completed'">
                <i class="fa fa-check"></i>
            </button>
            <button tool-tip="Show tasks in progress" class="pure-button in-progress" ng-click="sbStatus='In Progress'">
                <i class="fa fa-cogs"></i>
            </button>
            <button tool-tip="Show tasks that needs work" class="pure-button not-started" ng-click="sbStatus='Not Started'">
                <i class="fa fa-ban"></i>
            </button>
            <button tool-tip="Show all tasks" class="pure-button status-all" ng-click="sbStatus=''">
                <i class="fa fa-asterisk"></i>
            </button>
        </p>
        <div ng-repeat="(sbTaskId, sbTask) in sbTasks | toArray | orderBy: 'priority':true | filter: taskFilter | filter: sbStatus">
            <div task-item ng-model="sbTask" drag drag-data="{{sbTask}}" drag-id="{{sbTask.Id}}" drag-type="sb"></div>
        </div>
	</div>
	<div class="pure-u-1-3">
        <h2>My task</h2>
        <p>Drag your active task to this box.</p>
            <div ng-hide="currentTask.Id" class="dropzone dropzone-task" drop drop-type="sb" on-drop="workOnTask($itemId, $item)"></div>
        	<div ng-show="currentTask.Id" task-item ng-model="currentTask" drag drag-data="{{currentTask}}" drag-id="currentTask.Id" drag-type="current"></div>
        <h3>Details</h3>
        <p>
        {{currentTask.description}} <br>
        Time worked on task <br>
        Notes? <br>
        Previous people working on task? <br>
        </p>
	</div>
    <div class="pure-u-1-3" drop drop-type='current' on-drop="markTaskAsDone()">
        <h2>Completed tasks</h2>
        <p>Filter: <input type="text" ng-model="cTaskFilter"></p>
        <div ng-repeat="(sbTaskId, sbTask) in sbTasks | toArray | orderBy: 'priority':true | filter: cTaskFilter | filter: 'Completed'">
            <div task-item ng-model="sbTask"></div>
        </div>
    </div>
</div>